.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
  margin-top: auto;
  margin-bottom: auto;
}


.menu-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  width: fit-content;
  .menu-icon {
    width: 200px;
    border: 1px solid black;
    height: 200px;
    margin: 30px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
  }
}

.dict-page {
  height: 100vh;
  overflow: hidden;
  background-color: #FF9F66;
  display: flex;
  align-items: center;
  justify-content: center;


  .dict-wrapper {
    border-radius: 20px;
    background-color: #FFFAE6;
    width: 800px;
    height: fit-content;
    min-height: 500px;
    padding-top: 10px;
    padding-bottom: 10px;

    .input-box {
      border: 1px solid grey;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      border-radius: 10px;
      padding: 5px;
      text-align: center;

      input {
        border: none;
        outline: none;
        background-color: transparent;
        padding: 10px;
        width: 90%;
        font-size: 18px;
        /* width: fit-content; */
      }

      i {
        font-size: 25px;
        margin-top: 5px;
        cursor: pointer;
      }


    }

    .definitions-container {}

    p {
      width: fit-content;
    }

    .meaning {
      border: 1px solid black;

      margin-top: 10px;
      /* border: 1px solid grey; */
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      padding: 5px;
      /* display: flex; */
      text-align: center;



    }
  }
}

.color-gray {
  color: gray;
}

.border-0 {
  border: none !important;
}

.color-black {
  color: black
}

.pass-page {
  height: 100vh;
  overflow: hidden;
  background-color: #344C64;
  display: flex;
  align-items: center;
  justify-content: center;


  .pass-wrapper {
    border-radius: 20px;
    background-color: #57A6A1;
    width: 800px;
    height: fit-content;
    min-height: 500px;
    padding-top: 10px;
    padding-bottom: 10px;

    .input-container {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
      padding: 10px;
      display: flex;
      text-align: center;

      input {
        height: 100%;
        padding: 5px;
        width: 100px;
        margin-left: 10px;
        border: 1px solid gray;
        /* width: 30px; */
        /* height: 30px; */
      }

      .checkbox {
        width: 25px;
        height: 25px;
      }

      span {
        display: block;
      }

    }

    button {
      padding: 10px 20px;
      border: none;
      border-radius: 15px;
      font-weight: 900;
      background-color: #240750;
      color: #fff;
      cursor: pointer;
      margin-top: 5px;
    }
  }
}

.cursor-not-allowed {
  cursor: not-allowed !important;
  background-color: gray !important;
}

.text-danger {
  color: rgb(212, 85, 85) !important;
}

.d-flex {
  display: flex !important;
}

.justify-content-evenly {
  justify-content: space-evenly;
}


.tic-tac-toe-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFEBD8;

  .tic-tac-toe {
    /* border: 1px solid black; */
    width: fit-content;
    margin: auto;

    .row-box {
      .col-box {
        height: 150px;
        width: 150px;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        border-radius: 60px;
        cursor: pointer;

        span {
          font-size: 50px;
        }
      }
    }
  }
}

.color-x {
  background-color: #FFC5C5;
}

.color-o {
  background-color: #C7DCA7;
}


/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* background-color: rgb(0, 0, 0); */
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
  /* background-color: #fefefe; */
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.ttt {
  background-color: #FFEBD8;
}

.dict {
  background-color: #FF9F66;
}

.pass {
  color: white !important;
  background-color: #344C64;
}