.navbar-nav .nav-item:hover {
  background-color: rgba(180, 190, 203, 0.4);
}

body {
  font-family: 'Montserrat', sans-serif !important;
  width: 100vw;
  background-color: #6EACDA !important;
}

a {
  color: #000 !important;
}

.dict {
  background-color: #E2DFD0 !important;
}

.pass {
  background-color: #7077A1 !important;
}

.ttt {
  background-color: #ffff !important;
}

.calc {
  background-color: #F73D93 !important;
}

.todo {
  background-color: #CDC1FF !important;
}

.weather {
  background-color: #9EDF9C !important;
}

.quiz {
  background-color: #A64D79 !important;
}

.memory {
  background-color: #FBD288 !important;
}

.quote {
  background-color: #798645 !important;
}


.dict-page {
  text-align: center;

  padding: 30px;
  background-color: #E2DFD0;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  min-height: 400px;
  margin-top: 50px;


  .definitions-container {
    text-align: left;
  }


}

.search {
  border: 1px solid #c4c4c4;
  background-color: white;
  width: 500px;
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;
  border-radius: 50px;
  font-size: 18px;
  top: 200px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.search input {
  width: 400px;
  height: 65px;
  border: none;
  padding: 8px 20px;
  outline: none;
  font-size: 18px;

}

.button-src {
  padding: 10px 10px;
  display: inline-block;
}

.button-src button {
  padding: 10px 35px 10px 35px;
  border-radius: 50px;
  border: none;
  margin: 9px 7px;
  background-color: #FF7A00;
  color: #ffffff;
  font-size: 18px;
}


.pass-page {
  padding: 30px;
  width: max-content;
  max-width: 600px;
  margin: 50px auto;
  border-radius: 50px;
  min-height: 400px;
  background-color: #7077A1;
  text-align: center;
  color: #fff !important;
}

.dynamic-text-box {
  max-width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  word-break: break-all;
}

.calculator {
  padding: 30px;
  width: max-content;
  max-width: 600px;
  margin: 50px auto;
  border-radius: 50px;
  min-height: 400px;
  background-color: #F73D93;
  text-align: center;
  color: #fff !important;

  .btn {
    transition: background-color 0.3s ease;
  }

  .btn:hover {
    background-color: #f0f0f0;
  }

}

.todo-page {
  padding: 30px;
  width: max-content;
  max-width: 600px;
  margin: 50px auto;
  border-radius: 50px;
  min-height: 400px;
  background-color: #CDC1FF;
  text-align: center;
}

.weather-wrapper {
  padding: 30px;
  width: max-content;
  max-width: 600px;
  margin: 50px auto;
  border-radius: 50px;
  min-height: 400px;
  background-color: #9EDF9C;
  text-align: center;
  color: #000 !important;

  .weather-icon {
    height: 100px;
    width: 100px;
  }


}

.memory-card {
  padding: 30px;
  width: max-content;
  max-width: 1000px;
  margin: 50px auto;
  border-radius: 50px;
  min-height: 400px;
  background-color: #FBD288;
  text-align: center;
  color: #000 !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  /* FlipCard.css */
  .card-container {
    perspective: 1000px;
    /* Provides depth for the flip effect */
    width: 130px;
    height: 200px;
    margin: 2px;
  }

  .card {
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    /* Flip animation */
    transform-style: preserve-3d;
    cursor: pointer;
  }

  .card.flipped {
    transform: rotateY(180deg);
  }

  .card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
  }

  .front {
    background-color: lightblue;
    overflow: hidden;
  }

  .image-container {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  /* Back face */
  .back {
    background-color: lightcoral;
    transform: rotateY(180deg);
    /* Flip the back face */
  }

}


.error {
  color: red !important;
}

.location-icon {
  padding: 10px 35px 10px 35px;
  border-radius: 50px;
  border: none;
  margin: 9px 7px;
  background-color: #FF4545;
  color: #ffffff;
  font-size: 18px;
}


.quiz-card {
  padding: 30px;
  width: max-content;
  max-width: 1000px;
  margin: 50px auto;
  border-radius: 50px;
  min-height: 400px;
  background-color: #A64D79;
  text-align: center;
  color: #000 !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .score-section {
    margin-top: 20px;
  }

  .question-section {
    margin-top: 10px;
  }

  .question-text {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
  }

  .answer-section {
    margin-top: 20px;


    button {
      background-color: transparent;
      border: none;
      outline: none;
      margin-left: 10px;
      margin-right: 10px;
      padding: 10px 20px;
      margin-left: 5px;
      /* border-bottom: 1px solid black; */
    }

    button:hover {
      background-color: coral;

    }


  }

  .reset-button {
    border: none;
    outline: none;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 20px;
    margin-left: 5px;
    background-color: #FBD288;
  }
}


.quote-wrapper {
  padding: 30px;
  width: max-content;
  max-width: 1000px;
  margin: 50px auto;
  border-radius: 50px;
  min-height: 400px;
  background-color: #798645;
  text-align: center;
  color: #000 !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}